<h1 class="titulo">Déjanos un comentario</h1>

<!-- Formulario para agregar testimonios -->
<form (ngSubmit)="enviarTestimonio()">
  <label>Nombre:</label>
  <input type="text" [(ngModel)]="nuevoTestimonio.nombre" name="nombre" required />

  <label>Comentario:</label>
  <textarea [(ngModel)]="nuevoTestimonio.comentario" name="comentario" required></textarea>

  <label>Foto (URL opcional):</label>
  <div class="input-con-ayuda">
    <input type="text" [(ngModel)]="nuevoTestimonio.imagen_url" name="foto" />
    <mat-icon
      [matTooltip]="instruccionesTooltip"
      matTooltipPosition="right"
      class="icono-ayuda"
    >
      help_outline
    </mat-icon>
  </div>

  <button type="submit">Enviar Testimonio</button>
</form>

<!-- Mostrar mensajes de éxito o error -->
<p *ngIf="mensaje" class="mensaje">{{ mensaje }}</p>

<!-- Carrusel de testimonios -->
<div class="testimonios-container">
  <div class="carrusel">
    <!-- Iterar sobre los testimonios -->
    <div *ngFor="let testimonio of testimonios; let i = index" class="testimonio">
      <img
        [src]="testimonio.imagen_url || 'https://res.cloudinary.com/drsyb53ae/image/upload/f_auto,q_auto/v1/fotos-comprimidas/sgv/i3rtocblrenfj7kh7xn0'"
        alt="{{ testimonio.nombre }}"
        class="testimonio-imagen"
      />
      <h3 class="testimonio-nombre">{{ testimonio.nombre }}</h3>
      <p class="testimonio-comentario">{{ testimonio.comentario }}</p>
    </div>
  </div>
</div>
