.invitacion {
  font-family: var(--font-family);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 2rem;

  .hero {
    position: relative;

    .hero-img {
      width: 100%;
      height: auto;
      border-radius: 1rem;
      animation: fadeIn 1s ease-in;
    }

    .title {
      margin-top: 1rem;
      font-size: 2.5rem;
      animation: slideIn 0.8s ease-in-out;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideIn {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
