<div class="hero-image">
  <picture>
    <!-- Imagen para móvil (vertical) -->
    <source
      media="(max-width: 767px)"
      srcset="
        https://res.cloudinary.com/drsyb53ae/image/upload/v1768703960/lucero_m06eo6.webp
      "
    />
    <!-- Imagen para tablet (horizontal) -->
    <source
      media="(max-width: 1023px)"
      srcset="
        https://res.cloudinary.com/drsyb53ae/image/upload/v1754589811/29062025-DSC_4071_dqkkd3.webp
      "
    />
    <!-- Imagen para desktop (predeterminada) -->
    <img
      src="https://res.cloudinary.com/drsyb53ae/image/upload/v1754589810/29062025-DJI_0104_wmvsl3.webp"
      alt="Descripción de la imagen"
      class="hero-img"
    />
  </picture>
</div>

<!-- Contenedor de texto mecanografiado -->
<div class="typewriter-container">
  <h1 id="typewriter-text"></h1>
</div>

<!-- Indicador de scroll -->
<div
  class="scroll-indicator"
  *ngIf="showScrollIndicator"
  (click)="scrollToContent()"
>
  <span>Ver secciones de fotos</span>
  <div class="arrow"></div>
</div>

<!-- Galería de fotos -->
<section id="gallery-section">
  <!-- Contenedor del SVG animado como fondo -->


  <div class="gallery">
    <div *ngFor="let category of images" class="category">
      <h2 class="category-title">{{ category.title }}</h2>
      <div class="albums">
        <div
          *ngFor="let album of category.albums"
          class="album"
          (click)="navigateToAlbum(album.id)"
        >
          <!-- Contenedor de la imagen principal y el nombre del álbum -->
          <div class="album-cover">
            <img
              [src]="album.photos[0].url"
              [alt]="album.photos[0].alt"
              class="album-image"
            />
            <div class="album-name">{{ album.name }}</div>
          </div>

          <!-- Contenedor para las 3 primeras imágenes (ocultas por defecto) -->
          <div class="album-preview">
            <div
              *ngFor="let photo of album.photos.slice(0, 3)"
              class="preview-image"
            >
              <img [src]="photo.url" [alt]="photo.alt" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Botón para volver al inicio -->
  <button
    mat-fab
    color="primary"
    class="volver-inicio"
    (click)="scrollToTop()"
    aria-label="Volver al inicio"
  >
    <mat-icon>arrow_upward</mat-icon>
  </button>
</section>
