/* Estilos de la barra de navegación */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.192); /* Fondo semitransparente */
  backdrop-filter: blur(5px); /* Efecto de desenfoque */
  -webkit-backdrop-filter: blur(10px); /* Para Safari */
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: transform 0.3s ease-in-out; /* Transición suave */
}

/* Clase para ocultar la barra de navegación */
.nav-hidden {
  transform: translateY(-100%);
}

/* Asegurar que el contenido no quede oculto detrás del nav */
body {
  padding-top: 80px; /* Ajusta según la altura del nav */
}


nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 8px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

/* Animación de hover */
nav ul li a:hover {
  background: rgba(255, 255, 255, 0);
  transform: scale(1.1); /* Agrandar el texto */
}

/* Subrayado animado */
nav ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: rgb(235, 20, 206);
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

nav ul li a:hover::after {
  width: 100%;
}

.mat-icon {
  font-size: 32;
  margin-right: 5px;
  vertical-align: middle;
}
