/* * {
  outline: 1px solid red;
} */

html, body {
  overflow-x: hidden;
  width: 100%;
}

.hero-image {
  position: fixed;
  width: 100%;
  height: 100vh; /* Ocupa casi toda la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1; /* Lo coloca detrás del contenido */

}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Hace que la imagen se vea bien sin deformarse */
}


/*Efecto mecanografia en texto*/
.typewriter-container {
  position: absolute;
  top: 20%; /* Usa porcentajes en lugar de valores fijos */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  font-size: 5vw; /* Tamaño de fuente responsivo */
  min-height: 10rem;
  z-index: 10;
  box-sizing: border-box;
  padding: 1rem;
}

#typewriter-text {
  display: inline-block;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 0.15em;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 8vw; /* Tamaño de fuente responsivo */
  line-height: 1.2;
}


/* Espacio para que el contenido no se sobreponga al header */
.content {
  margin-top: 100vh; /* Lo coloca debajo del hero-image */
  padding: 20px;
}


.scroll-indicator {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 25px;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  animation: fadeIn 2s ease-in-out infinite;
}

.scroll-indicator span {
  display: block;
  margin-bottom: 10px;
  font-family: 'Quicksand', sans-serif !important;
  font-weight: bold;
  font-size: 2.5rem;

}

.arrow {
  width: 20px;
  height: 20px;
  border-left: 4px solid azure;
  border-bottom: 4px solid azure;
  transform: rotate(-45deg);
  animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0) rotate(-45deg);
  }
  50% {
    transform: translateY(20px) rotate(-45deg);
  }
}

@keyframes fadeIn {
  0%, 100% { opacity: 0.5; }
  50% { opacity: 1; }
}


/* Estilo para la fotografía */
.photography {
  margin-top: 50px;
}

.titulo-fotografia {
  color: aliceblue;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
}

.titulo-video {
  color: aliceblue;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Hace que las columnas sean responsivas */
  gap: 20px; /* Espacio entre elementos */
  padding: 0 20px; /* Agrega un padding para evitar que el contenido toque los bordes */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}


/* Contenedor de cada imagen */
.image-item {
  position: relative;
  width: 100%; /* Ancho fijo para el contenedor */
  max-width: 500px;
  margin: 20px auto; /* Espacio entre imágenes */
  box-sizing: border-box;
}

/* Imagen principal */
.main-image {
  width: 100%;
  height: 700px; /* Altura fija para las imágenes */
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionarse */
  border-radius: 8px;
  transition: opacity 0.3s ease-in-out;
}

/* Texto debajo de la imagen */
.image-name {
  position: absolute;
  bottom: 5px; /* Distancia desde la parte inferior */
  left: 50%; /* Centrar horizontalmente */
  transform: translateX(-50%); /* Ajustar el centrado */
  color: white;
  font-size: 30px; /* Reducir el tamaño de la fuente */
  font-weight: bold;
  background: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
  padding: 10px 12px; /* Reducir el padding */
  border-radius: 5px;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

/* Imagen que aparece al pasar el mouse */
.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px; /* Altura fija para las imágenes */
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionarse */
  opacity: 0;
  border-radius: 8px;
  transition: opacity 0.3s ease-in-out;
}

/* Efecto hover */
.image-item:hover .main-image {
  opacity: 0;
}

.image-item:hover .hover-image {
  opacity: 1;
}


/* Estilos para la sección de videos */
.video {
  margin-top: 40px; /* Espacio entre la sección de fotografías y videos */
}

.titulo-video {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.videos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 10px;
}

.video-item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background-color: #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.video-item:hover {
  transform: scale(1.02);
}

.video-loop {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.video-title {
  font-size: 1.5rem;
  margin-bottom: 25px;
  font-weight: 600;
  margin: 10px 0;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}


.mute-btn {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 6px;
  transition: all 0.3s ease;
}

.mute-btn:hover {
  background: rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
}

.volume-icon {
  width: 100%;
  height: 100%;
  color: white;
}




/*Estilo para la flecha de volver a la pagina de inicio*/
/* Estilos para el ícono dentro del botón */
.volver-inicio mat-icon {
  font-size: 30px; /* Tamaño del ícono */
  width: 30px; /* Ancho del ícono */
  height: 30px; /* Alto del ícono */
}

.volver-inicio {
  position: fixed;
  bottom: 10px; /* Ajusta la posición vertical */
  right: 10px; /* Ajusta la posición horizontal */
  padding: 0; /* Elimina el padding para hacerlo más pequeño */
  width: 40px; /* Ancho del botón */
  height: 40px; /* Alto del botón */
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Elimina el borde */
  border-radius: 50%; /* Hace el botón redondo */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease; /* Transición suave al hacer hover */
}

.volver-inicio:hover {
  transform: scale(1.05);
  background-color: rgb(247, 187, 234);
}


/* Media Queries para hacer el diseño responsive */

/* Pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .typewriter-container {
    top: 15%; /* Ajusta la posición vertical */
    font-size: 6vw; /* Aumenta el tamaño de la fuente */
  }

  #typewriter-text {
    font-size: 10vw; /* Aumenta el tamaño de la fuente */
  }

  .scroll-indicator {
    font-size: 20px; /* Reduce el tamaño de la fuente */
    bottom: 80px;
  }

  .scroll-indicator span {
    font-size: 2rem; /* Reduce el tamaño de la fuente */
  }

  .titulo-fotografia,
  .titulo-video {
    font-size: 2rem; /* Reduce el tamaño de la fuente */
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Reduce el ancho mínimo de las columnas */
  }

  .image-item {
    max-width: 100%; /* Ajusta el ancho máximo */
  }

  .main-image,
  .hover-image {
    height: 500px; /* Reduce la altura de las imágenes */
  }

  .volver-inicio {
    bottom: 20px; /* Ajusta la posición */
    right: 10px; /* Ajusta la posición */
  }

  .mute-btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size:25px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .mute-btn:hover {
    background: rgba(0, 0, 0, 0.8);
    transform: scale(1.10);

}

/* Pantallas muy pequeñas (móviles pequeños) */
@media (max-width: 480px) {
  .typewriter-container {
    top: 20%; /* Ajusta la posición vertical */
    font-size: 7vw; /* Aumenta el tamaño de la fuente */
    padding: 0 10px; /* Agrega padding horizontal para evitar desbordamiento */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    text-align: center; /* Centra el texto */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  }

  #typewriter-text {
    font-size: 12vw; /* Aumenta el tamaño de la fuente */
    letter-spacing: 0.1em; /* Reduce el espaciado entre letras */
    word-wrap: break-word; /* Permite que el texto se divida en varias líneas si es necesario */
    white-space: normal; /* Permite que el texto se ajuste en varias líneas */
    line-height: 1.2; /* Ajusta el interlineado para mejor legibilidad */
  }


  .scroll-indicator {
    font-size: 18px; /* Reduce el tamaño de la fuente */
  }

  .scroll-indicator span {
    font-size: 1.8rem; /* Reduce el tamaño de la fuente */
  }

  .titulo-fotografia,
  .titulo-video {
    font-size: 1.5rem; /* Reduce el tamaño de la fuente */
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Reduce el ancho mínimo de las columnas */
  }

  .main-image,
  .hover-image {
    height: 400px; /* Reduce la altura de las imágenes */
  }

  .volver-inicio mat-icon {
    font-size: 28px; /* Tamaño del ícono */
    width: 30px; /* Ancho del ícono */
    height: 30px; /* Alto del ícono */
  }

}

}

