<!-- Mostrar mientras carga -->
<div *ngIf="cargando" class="cargando">Cargando invitación...</div>

<!-- Si no se encontró -->
<div *ngIf="!cargando && !invitacion" class="no-encontrada">
  <p>Invitación no encontrada 😢</p>
</div>

<!-- Si se encontró una invitación -->
<ng-container *ngIf="!cargando && invitacion">
  <!-- Invitación genérica desde Firestore -->
  <app-invitacion-generica
    *ngIf="invitacion && invitacion.slug !== 'xv-nathalia'"
    [data]="invitacion"
  >
  </app-invitacion-generica>
</ng-container>
