@import "@angular/material/prebuilt-themes/cyan-orange.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* TEXTO del checkbox */
.mat-mdc-checkbox .mdc-form-field > label {
  color: #1f1f1f !important;
}

/* CUADRO sin marcar */
.mat-mdc-checkbox .mdc-checkbox__background {
  border-color: #2f4f4f !important;
}

/* CUADRO marcado */
.mat-mdc-checkbox.mdc-checkbox--selected .mdc-checkbox__background {
  background-color: #2f4f4f !important;
}

/* Evita apariencia disabled fantasma */
.mat-mdc-checkbox {
  opacity: 1 !important;
}

/* BOTÓN RAISED – FORZADO PARA TODOS LOS BREAKPOINTS */
button.mat-mdc-raised-button.mat-mdc-button-base.action-button {
  --mdc-protected-button-container-color: #c9a24d;
  --mdc-protected-button-label-text-color: #ffffff;
  --mdc-protected-button-hover-container-color: #ce9e37;

  border-radius: 999px;
  padding: 14px 28px;
  font-weight: 600;
  letter-spacing: 0.4px;
}

/* Texto */
button.mat-mdc-raised-button.mat-mdc-button-base.action-button
  .mdc-button__label {
  color: #ffffff;
}

/* Icono */
button.mat-mdc-raised-button.mat-mdc-button-base.action-button mat-icon {
  margin-right: 8px;
}
