@import '@angular/material/prebuilt-themes/cyan-orange.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Quicksand', sans-serif !important; }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
